/* src/index.css */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.roboto-mono {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
.bona-nova-regular {
  font-family: "Bona Nova", serif;
  font-weight: 400;
  font-style: normal;
}

.bona-nova-bold {
  font-family: "Bona Nova", serif;
  font-weight: 700;
  font-style: normal;
}

.bona-nova-regular-italic {
  font-family: "Bona Nova", serif;
  font-weight: 400;
  font-style: italic;
}
.custom-rotate {
  transform: rotate(40deg) !important;
  transition: all 1s ease !important;
}
.custom-rotate-reverse {
  transform: rotate(-40deg) !important;
  transition: all 1s ease !important;
}
.menu-item {
  font-size: 19px;
  font-weight: 500;
}
.loading-container {
  position: fixed;
  z-index: 13;
  height: 100%;
  width: 100%;
  background-color: #ffffffb5;
}
.loading *{
  color : rgb(255 104 0);
}
.loading {
  top: 50%;
  position: fixed;
  z-index: 20;
  left: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
